In [5]:
import random
import numpy as np
import pandas as pd
from faker import Faker

fake = Faker()

In [15]:
departments = ['People', 'Product', 'Marketing', 'GTM', 'Customer Support', 'Data and Insight']

In [13]:

levels = ['Associate', 'Executive', 'Senior Executive', 'Principal']
roles = {}
for d in departments:
    print(d)
    number = int(input('how many roles? '))
    
    r = []
    for i in range(number):
        role = input('role? ')
        r.append(role)
    roles[d] = r

People
how many roles? 5
role? Hiring Manager
role? Payroll Analyst
role? Office Manager
role? Diversity Officer
role? Compliance Officer
Product
how many roles? 6
role? Designer
role? Product Manager
role? Analyst
role? Researcher
role? Quality Assurance Tester
role? Software Engineer
Marketing
how many roles? 1
role? Marketing Analyst
GTM
how many roles? 2
role? Customer Success Manager
role? Account Manager
Customer Support
how many roles? 3
role? Analyst
role? Technician
role? Complaints Officer

In [14]:
roles['Data and Insight'] =['Data Scientist', 'Analyst']

In [16]:
roles

{'People': ['Hiring Manager',
  'Payroll Analyst',
  'Office Manager',
  'Diversity Officer',
  'Compliance Officer'],
 'Product': ['Designer',
  'Product Manager',
  'Analyst',
  'Researcher',
  'Quality Assurance Tester',
  'Software Engineer'],
 'Marketing': ['Marketing Analyst'],
 'GTM': ['Customer Success Manager', 'Account Manager'],
 'Customer Support': ['Analyst', 'Technician', 'Complaints Officer'],
 'Data and Insight': ['Data Scientist', 'Analyst']}

In [21]:
base_sal_dept = {}
for d in departments:
    print(d)
    base_sal_dept[d] = int(input('base? '))

People
base? 40000
Product
base? 60000
Marketing
base? 52000
GTM
base? 48000
Customer Support
base? 39000
Data and Insight
base? 63000

In [20]:
level_sal = {}
for l in levels:
    print(l)
    level_sal[l] = float(input('modifier? '))

Associate
modifier? 0.95
Executive
modifier? 1
Senior Executive
modifier? 1.1
Principal
modifier? 1.2

In [24]:
role_sal = {}
for r in roles.keys():
    for r2 in roles[r]:
        print(r2)
        role_sal[r2] = float(input('modifier?' ))

Hiring Manager
modifier?1.02
Payroll Analyst
modifier?1
Office Manager
modifier?0.97
Diversity Officer
modifier?0.95
Compliance Officer
modifier?1.03
Designer
modifier?1.05
Product Manager
modifier?1.02
Analyst
modifier?1.03
Researcher
modifier?1.04
Quality Assurance Tester
modifier?0.97
Software Engineer
modifier?1.08
Marketing Analyst
modifier?1.07
Customer Success Manager
modifier?1.01
Account Manager
modifier?1.02
Analyst
modifier?1.05
Technician
modifier?1.03
Complaints Officer
modifier?0.96
Data Scientist
modifier?1.09
Analyst
modifier?1.06

In [25]:
reasons = ['Retired', 'Terminated','Resigned']

In [59]:
people = {}
role_counter = {}
for r in roles.keys():
    for l in levels:
        role_counter[l + ' ' + r] = 0

for i in range(random.randint(120,180)):
    name = fake.first_name() + ' ' + fake.last_name()

    de = random.choice(departments)
    ro = random.choice(roles[de])
    status = False
    while status is False:
        lev = random.choices(population = levels, weights = [0.20, 0.55, 0.15, 0.1], k=1)[0]
        check = lev + ' ' + de
        current = role_counter[check]
        if current < level_limit[lev]:
            role_counter[check] += 1
            status = True
        else:
            pass
    people[name] = {'Role':ro, 'Department':de, 'Level':lev}

In [55]:
level_limit = {'Associate' : 25, 'Executive' : 75, 'Senior Executive' : 10, 'Principal' : 5}

In [29]:
from string import ascii_lowercase

In [80]:
from random import randrange
from datetime import timedelta

def random_date(start, end):
    """
    This function will return a random datetime between two datetime 
    objects.
    """
    delta = end - start
    int_delta = (delta.days * 24 * 60 * 60) + delta.seconds
    random_second = randrange(int_delta)
    return start + timedelta(seconds=random_second)

In [129]:
people = {}
role_counter = {}
for r in roles.keys():
    for l in levels:
        role_counter[l + ' ' + r] = 0

for i in range(random.randint(150,220)):
    name = fake.first_name() + ' ' + fake.last_name()

    de = random.choice(departments)
    ro = random.choice(roles[de])
    status = False
    while status is False:
        lev = random.choices(population = levels, weights = [0.20, 0.55, 0.15, 0.1], k=1)[0]
        check = lev + ' ' + de
        current = role_counter[check]
        if current < level_limit[lev]:
            role_counter[check] += 1
            status = True
        else:
            pass
    people[name] = {'Role':ro, 'Department':de, 'Level':lev}
emp_ids = []
name = []
emails = []
ro = []
dep = []
lev = []
country = []
start = []
end = []
tenure = []
reason = []
salary = []

for dude in people.keys():
    n = dude
    n_split = n.lower().split(' ')
    string = random.choices(population=ascii_lowercase, k = 3)
    emp_id = n_split[0][0]+n_split[1][0]+str(random.randint(100,999)) + string[0] + string[1] + string[2]
    email = n_split[0]+'.'+n_split[1]+'@'+'renhaas.org'
    count = random.choices(population = ['UK', 'US'], weights =[0.3, 0.7], k=1)[0]
    sal = random.randint(base_sal_dept[people[dude]['Department']],base_sal_dept[people[dude]['Department']]*1.02)
    sal2 = sal * random.uniform(role_sal[people[dude]['Role']],role_sal[people[dude]['Role']]*1.03)
    sal3 = round(sal2 * random.uniform(level_sal[people[dude]['Level']],level_sal[people[dude]['Level']]*1.03),0)
    roll_sal = random.randint(1, 100)
    if roll_sal > 96:
        sal3 += 100000
    if count == 'UK':
        sala = '£' + str(round(sal3 * 0.82,0))+'0'
    else:
        sala = '$' + str(sal3)+'0'
    start_date = random_date(pd.to_datetime('01/01/2010', format ='%d/%m/%Y'),pd.to_datetime('01/09/2023', format ='%d/%m/%Y'))
    start_string = str(start_date).split(' ')[0].split('-')
    st = start_string[2]+'/'+start_string[1]+'/'+start_string[0]
    roll = random.randint(0,100)
    if roll > 88:
        gone = 'Yes'
    else:
        gone = 'No'
    if gone == 'Yes':
        rea = random.choices(population = reasons, weights = [0.08, 0.05, 0.87], k=1)[0]
        end_date = random_date(start_date,pd.to_datetime('30/09/2023', format ='%d/%m/%Y'))
        end_string = str(end_date).split(' ')[0].split('-')
        en = end_string[2]+'/'+end_string[1]+'/'+end_string[0]
        delta = end_date - start_date
        ten = delta.days
        email =np.nan
    else:
        rea = np.nan
        en = np.nan
        delta = pd.to_datetime(date.today()) - start_date
        ten = delta.days
    if count == 'US':
        count = random.choice(['US', 'USA', 'United States'])
    if count == 'UK':
        count = random.choice(['UK', 'United Kingdom'])
        
    deps = people[dude]['Department']
    if deps == 'GTM':
        deps = random.choice(['GTM', 'Go To Market'])
    elif deps == 'Data and Insight':
        deps = random.choice(['Data and Insight' ,'D&I', 'Data'])
    rols = people[dude]['Role']
    if rols == 'Account Manager':
        rols = random.choice(['Account Manager', 'AM'])
    elif rols == 'Customer Success Manager':
        rols = random.choice(['CSM', 'Customer Success Manager'])
 
    emp_ids.append(emp_id)
    name.append(dude)
    emails.append(email)
    ro.append(rols)
    dep.append(deps)
    lev.append(people[dude]['Level'])
    country.append(count)
    start.append(st)
    end.append(en)
    tenure.append(ten)
    reason.append(rea)
    salary.append(sala)
    roll_dup = random.randint(1,100)
    if roll_dup > 95:
        emp_ids.append(emp_id)
        name.append(dude)
        emails.append(email)
        ro.append(rols)
        dep.append(deps)
        lev.append(people[dude]['Level'])
        country.append(count)
        start.append(st)
        end.append(en)
        tenure.append(ten)
        reason.append(rea)
        salary.append(sala)

In [130]:
df=pd.DataFrame({'employee_id':emp_ids,'employee_name':name,'employee_email':emails,'role':ro,'level':lev,'Department':dep,
             'country':country, 'start_date':start,'end_date':end,' tenure':tenure,'reason_for_leaving':reason,'salary':salary})

In [131]:
df

,employee_id,employee_name,employee_email,role,level,Department,country,start_date,end_date,tenure,reason_for_leaving,salary
0,rm903eji,Robert Martinez,robert.martinez@renhaas.org,Compliance Officer,Executive,People,US,11/02/2015,NaN,3165,NaN,$43145.00
1,mb802ypf,Matthew Bradley,matthew.bradley@renhaas.org,Complaints Officer,Senior Executive,Customer Support,USA,24/02/2012,NaN,4248,NaN,$43067.00
2,jm480udd,Jeremy Miller,jeremy.miller@renhaas.org,Office Manager,Associate,People,UK,25/05/2016,NaN,2696,NaN,£31495.00
3,ca979wpl,Carolyn Alexander,NaN,AM,Associate,Go To Market,USA,09/05/2020,03/11/2022,907,Resigned,$49304.00
4,km997zvz,Kenneth Moore,kenneth.moore@renhaas.org,Office Manager,Executive,People,USA,10/10/2022,NaN,367,NaN,$40301.00
...,...,...,...,...,...,...,...,...,...,...,...,...
173,sl815zus,Savannah Lewis,savannah.lewis@renhaas.org,Analyst,Executive,Product,USA,17/05/2019,NaN,1609,NaN,$65589.00
174,al932wbe,April Lee,april.lee@renhaas.org,Diversity Officer,Executive,People,United Kingdom,09/02/2016,NaN,2802,NaN,£32277.00
175,mc495klh,Michael Case,NaN,Technician,Executive,Customer Support,USA,08/02/2020,12/12/2021,672,Resigned,$42744.00
176,mc723vcn,Monique Campbell,monique.campbell@renhaas.org,Analyst,Senior Executive,Customer Support,United States,09/12/2010,NaN,4690,NaN,$48039.00
177,mc723vcn,Monique Campbell,monique.campbell@renhaas.org,Analyst,Senior Executive,Customer Support,United States,09/12/2010,NaN,4690,NaN,$48039.00

In [133]:
df.to_csv('Renhaas_hr_data.csv', index=False)

In [117]:
from datetime import date

today = date.today()
print("Today's date:", today)

Today's date: 2023-10-13

In [120]:
start_date

Timestamp('2011-12-05 07:26:38')

Timestamp('2023-10-13 00:00:00')