In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('College_Data.csv')

In [4]:
import geopy
from geopy.extra.rate_limiter import RateLimiter
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="your_app_name")
geocode = RateLimiter(geolocator.geocode, min_delay_seconds = 1,   return_value_on_exception = None)

In [6]:
location = geolocator.geocode(df.iloc[0,0])

In [7]:
print(location.address)
print((location.latitude, location.longitude))

Abilene Christian University, 1600, Library Court, Abilene, Taylor County, Texas, 79699, United States
(32.4699728, -99.70735954838815)

In [9]:
import numpy as np

In [77]:
names = []
addresss = []
long = []
lat = []

for i in range(len(df)):
    name = df.iloc[i, 0]
    names.append(name)
    
    try:   
        location = geolocator.geocode(name)
        addresss.append(location.address)
        long.append(location.longitude)
        lat.append(location.latitude)
    except:
        addresss.append('find')
        long.append(np.nan)
        lat.append(np.nan)

In [81]:
outs = pd.DataFrame({'college' : names, 'addr' : addresss, 'long' : long, 'lat' : lat})

In [30]:
for i in range(len(out)):
    if out.iloc[i, 1] is None:
        print(i)

5
12
23
27
69
79
82
89
102
118
128
144
156
181
211
223
230
273
280
309
316
323
340
347
362
364
367
368
376
380
383
393
397
398
405
411
415
416
421
444
448
453
454
460
467
483
484
486
498
501
505
507
512
519
522
525
532
535
536
537
557
562
564
567
568
569
570
571
572
594
601
603
605
610
633
634
636
637
638
642
643
646
649
663
671
677
723
727
744
749
753
771

In [88]:
output = outs[outs.addr != 'find']

In [91]:

states = []

for i in range(len(output)):
    info = output.iloc[i, 1].split(', ')
    states.append(info[-3])

In [90]:
info

['Bluffton College Lake Dam',
 'Richland Township',
 'Allen County',
 'Ohio',
 '45817',
 'United States']

In [92]:
states

['Texas',
 'New York',
 'Michigan',
 'Georgia',
 'Alaska',
 'Connecticut',
 'Michigan',
 'Pennsylvania',
 'West Virginia',
 'New York',
 'Pennsylvania',
 'Michigan',
 'Wisconsin',
 'Massachusetts',
 'Massachusetts',
 'Indiana',
 'Michigan',
 'Texas',
 'Washington',
 'North Carolina',
 'Western Australia',
 'Arkansas',
 'Arkansas',
 'Kerala',
 'Bayern',
 'Illinois',
 'Illinois',
 'Texas',
 'Alabama',
 'Kansas',
 'Ohio',
 'Illinois',
 'New York',
 'New York',
 'Florida',
 'Texas',
 'Pennsylvania',
 'Kentucky',
 'North Carolina',
 'Tennessee',
 'Wisconsin',
 'Minnesota',
 'Kansas',
 'Vermont',
 'Western Australia',
 'Georgia',
 'West Virginia',
 'Kansas',
 'Kansas',
 'Florida',
 'Alabama',
 'Illinois',
 'Pennsylvania',
 'Virginia',
 'Ohio',
 'Massachusetts',
 'Maine',
 'Ohio',
 'England',
 'Illinois',
 'Massachusetts',
 'Georgia',
 'Georgia',
 'California',
 'Virginia',
 'Rhode Island',
 'Pennsylvania',
 'Pennsylvania',
 'South Carolina',
 'Indiana',
 'Pennsylvania',
 'New Jersey',
 'California',
 'California',
 'Limpopo',
 'North Carolina',
 'New York',
 'Ohio',
 'Karnataka',
 'Minnesota',
 'Pennsylvania',
 'Wisconsin',
 'Tennessee',
 'Wisconsin',
 'Ohio',
 'Vermont',
 'North Carolina',
 'District of Columbia',
 'Pennsylvania',
 'Ohio',
 'Haryana',
 'Louisiana',
 'Michigan',
 'Iowa',
 'Connecticut',
 'Washington',
 'Aurora',
 'Kentucky',
 'California',
 'Ontario',
 'Pennsylvania',
 'Virginia',
 'Tennessee',
 'Virginia',
 'South Carolina',
 'California',
 'Massachusetts',
 'New South Wales',
 'New York',
 'South Carolina',
 'Iowa',
 'South Carolina',
 'Maine',
 'New York',
 'Santa Fe',
 'South Carolina',
 'Ohio',
 'New York',
 'California',
 'Minnesota',
 'Metro Manila',
 'New Jersey',
 'New York',
 'Santa Fe',
 'Vermont',
 'Minnesota',
 'Massachusetts',
 'Virginia',
 'Ohio',
 'Colorado',
 'Colorado',
 'Missouri',
 'Illinois',
 'New York',
 'Queensland',
 'Québec',
 'Québec',
 'Connecticut',
 'South Carolina',
 'Iowa',
 'Nebraska',
 'Missouri',
 'Otago',
 'New York',
 'Karnataka',
 'New Hampshire',
 'North Carolina',
 'Ohio',
 'Mississippi',
 'Ohio',
 'Indiana',
 'Pennsylvania',
 'Pennsylvania',
 'Louisiana',
 'Nebraska',
 'New York',
 'Iowa',
 'Suffolk County',
 'Iowa',
 'New Jersey',
 'Ontario',
 'North Carolina',
 'Indiana',
 'North Carolina',
 'Tennessee',
 'Texas',
 'New Brunswick / Nouveau-Brunswick',
 'Connecticut',
 'Illinois',
 'Virginia',
 'Massachusetts',
 'Florida',
 'Pennsylvania',
 'Chemung County',
 'Massachusetts',
 'North Carolina',
 'Arizona',
 'Virginia',
 'Georgia',
 'Kansas',
 'South Carolina',
 'Illinois',
 'Washington',
 'Connecticut',
 'North Carolina',
 'Virginia',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Florida',
 'Missouri',
 'New York',
 'Colorado',
 'Florence County',
 'Ohio',
 'Indiana',
 'New Hampshire',
 'Tennessee',
 'South Carolina',
 'Pennsylvania',
 'North Carolina',
 'Pennsylvania',
 'North Carolina',
 'Virginia',
 'Washington',
 'Kentucky',
 'District of Columbia',
 'Georgia',
 'Georgia',
 'Pennsylvania',
 'Delaware',
 'Washington',
 'Massachusetts',
 'Indiana',
 'Maryland',
 'Enugu',
 'Michigan',
 'Vermont',
 'North Carolina',
 'Illinois',
 'Iowa',
 'Pennsylvania',
 'North Carolina',
 'Minnesota',
 'Pennsylvania',
 'New York',
 'Minnesota',
 'Virginia',
 'Virginia',
 'Indiana',
 'Texas',
 'Arkansas',
 'New York',
 'Massachusetts',
 'California',
 'Nebraska',
 'New York',
 'Michigan',
 'Ohio',
 'New York',
 'New York',
 'England',
 'Maryland',
 'Michigan',
 'England',
 'Alabama',
 'Indiana',
 'Ontario',
 'Maine',
 'DuPage County',
 'Illinois',
 'Illinois',
 'Illinois',
 'Illinois',
 'Curaçao',
 'South Carolina',
 'Indiana',
 'Indiana',
 'New York',
 'Iowa',
 'New York',
 'Virginia',
 'RAP Gran Santander',
 'Arkansas',
 'Ohio',
 'Maryland',
 'Vermont',
 'Alabama',
 'Pennsylvania',
 'Kansas',
 'Kansas',
 'New Hampshire',
 'Kentucky',
 'Ohio',
 'New York',
 'England',
 'North Carolina',
 'Illinois',
 'Pennsylvania',
 'Pennsylvania',
 'Pennsylvania',
 'Georgia',
 'Illinois',
 'Alberta',
 'Texas',
 'Tennessee',
 'South Carolina',
 'Wisconsin',
 'New York',
 'Pennsylvania',
 'Pennsylvania',
 'Massachusetts',
 'Texas',
 'Oregon',
 'Illinois',
 'Tennessee',
 'Pennsylvania',
 'Oregon',
 'North Carolina',
 'Pennsylvania',
 'Ontario',
 'Iowa',
 'Rapides Parish',
 'Louisiana',
 'Tamil Nadu',
 'California',
 'Louisiana',
 'Illinois',
 'Victoria',
 'Pennsylvania',
 'Lynchburg',
 'Vermont',
 'Minnesota',
 'Illinois',
 'Ohio',
 'England',
 'New York',
 'New York',
 'Minnesota',
 'Ohio',
 'Auckland',
 'Wisconsin',
 'West Virginia',
 'Virginia',
 'Washington',
 'New York',
 'Virginia',
 'Tennessee',
 'Missouri',
 'Lackawanna County',
 'Massachusetts',
 'North Dakota',
 'Kentucky',
 'Texas',
 'Kansas',
 'Georgia',
 'Pennsylvania',
 'North Carolina',
 'Massachusetts',
 'Pennsylvania',
 'Michigan',
 'Michigan',
 'Tennessee',
 'Illinois',
 'Mississippi',
 'Wisconsin',
 'Mississippi',
 'Mississippi',
 'Mississippi',
 'Missouri',
 'Illinois',
 'Illinois',
 'Montana',
 'New Jersey',
 'Minnesota',
 'Pennsylvania',
 'Georgia',
 'Iowa',
 'South Carolina',
 'Massachusetts',
 'South Dakota',
 'Wisconsin',
 'Munster',
 'Ohio',
 'New York',
 'England',
 'Pennsylvania',
 'Kentucky',
 'Ohio',
 'DuPage County',
 'New York',
 'New Jersey',
 'New York',
 'South Carolina',
 'New York',
 'Massachusetts',
 'North Carolina',
 'Illinois',
 'North Dakota',
 'Massachusetts',
 'Arizona',
 'Illinois',
 'Missouri',
 'Iowa',
 'Illinois',
 'Vermont',
 'Ohio',
 'Michigan',
 'Ohio',
 'California',
 'Georgia',
 'Ohio',
 'Ohio',
 'Ohio',
 'Oklahoma',
 'Oklahoma',
 'Payne County',
 'Ohio',
 'Arkansas',
 'Texas',
 'New York',
 'Washington',
 'California',
 'Oregon',
 'New York',
 'England',
 'Nebraska',
 '서울특별시',
 'Iowa',
 'Georgia',
 'Kentucky',
 'California',
 '湖北省',
 'South Carolina',
 'New Jersey',
 'Rhode Island',
 'England',
 'Illinois',
 'Connecticut',
 'Virginia',
 'New Jersey',
 'Virginia',
 'Oregon',
 'Massachusetts',
 'New York',
 'Tennessee',
 'New Jersey',
 'Wisconsin',
 'France métropolitaine',
 'North Carolina',
 'Missouri',
 'Montana',
 'Rhode Island',
 'Florida',
 'Leinster',
 'New Jersey',
 'New Jersey',
 'Connecticut',
 'New Hampshire',
 'Minnesota',
 'Indiana',
 'New York',
 'Minnesota',
 'Uttarakhand',
 'Munster',
 'Pennsylvania',
 'Calabarzon',
 'Missouri',
 'Indiana',
 'Indiana',
 'Vermont',
 'Auckland',
 'Pennsylvania',
 'Illinois',
 'North Carolina',
 'Alabama',
 'California',
 'California',
 'New York',
 'Zürich',
 'California',
 'Washington',
 'Washington',
 'New Jersey',
 'California',
 'Georgia',
 'Albany County',
 'Massachusetts',
 'Iowa',
 'New York',
 'Massachusetts',
 'South Dakota',
 'Missouri',
 'Oklahoma',
 'California',
 'Texas',
 'Missouri',
 'Kansas',
 'Texas',
 'Kentucky',
 'Georgia',
 'Michigan',
 'New York',
 'England',
 'New York',
 'New York',
 'Telangana',
 'California',
 'Maryland',
 'Wisconsin',
 '香港島 Hong Kong Island',
 'Eastern Visayas',
 'Missouri',
 'Florida',
 'New Jersey',
 'Massachusetts',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'New York',
 'Pennsylvania',
 'Virginia',
 'New York',
 'Kansas',
 'Alabama',
 'Indiana',
 'Tennessee',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'Texas',
 'South Carolina',
 'Pennsylvania',
 'Ohio',
 'Kentucky',
 'Mercer County',
 'Indiana',
 'Connecticut',
 'District of Columbia',
 'Texas',
 'Louisiana',
 'Tennessee',
 'Alabama',
 'Kentucky',
 'New York',
 'Alabama',
 'California',
 'Florida',
 'West Virginia',
 'Illinois',
 'Ohio',
 'Texas',
 'Ohio',
 'Delaware',
 'Colorado',
 'Michigan',
 'Iowa',
 'Indiana',
 'Florida',
 'Georgia',
 'Connecticut',
 'Hawaii',
 'Illinois',
 'Illinois',
 'Indiana',
 'Kansas',
 'California',
 'Kentucky',
 'Maine',
 'Maine',
 'Maine',
 'Maryland',
 'Florida',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Alabama',
 'Alabama',
 'Maine',
 'New Hampshire',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Carolina',
 'North Dakota',
 'Florida',
 'Texas',
 'Colorado',
 'Iowa',
 'Indiana',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Oregon',
 'Washington',
 'Rhode Island',
 'Virginia',
 'New York',
 'California',
 'California',
 'Pennsylvania',
 'South Carolina',
 'Florida',
 'California',
 'Indiana',
 'Mississippi',
 'Minnesota',
 'Texas',
 'East Tennessee',
 'Texas',
 'Texas',
 'Pennsylvania',
 'California',
 'Tennessee',
 'Oklahoma',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'Florida',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wisconsin',
 'Wyoming',
 'Iowa',
 'Pennsylvania',
 'England',
 'North Dakota',
 'Indiana',
 'Tennessee',
 'New York',
 'Pennsylvania',
 'Virginia',
 'Virginia',
 'Virginia',
 'Virginia',
 'West Virginia',
 'Região Sudeste',
 'South Carolina',
 'Indiana',
 'New York',
 'North Carolina',
 'Ohio',
 'North Carolina',
 'Iowa',
 'Virginia',
 'Maryland',
 'Washington',
 'Nebraska',
 'Pennsylvania',
 'Florida',
 'Wien',
 'Massachusetts',
 'New York',
 'Massachusetts',
 'Auckland',
 'Connecticut',
 'Pennsylvania',
 'West Virginia',
 'West Virginia',
 'North Carolina',
 'Maryland',
 'Michigan',
 'Massachusetts',
 'Washington',
 'Massachusetts',
 'Missouri',
 'Pennsylvania',
 'California',
 'Illinois',
 'Pennsylvania',
 'Washington',
 'California',
 'Washington',
 'Pennsylvania',
 'Pennsylvania',
 'Oregon',
 'Missouri',
 'Missouri',
 'Massachusetts',
 'Pennsylvania',
 'מחוז המרכז',
 'Minnesota',
 'South Carolina',
 'Wisconsin',
 'Ohio',
 'South Carolina',
 'Massachusetts',
 'Ohio',
 'Louisiana',
 'Connecticut',
 'Pennsylvania']

In [93]:
output['State'] = states

C:\Users\alastair.tyson\AppData\Local\Temp\ipykernel_38884\1545232733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  output['State'] = states

In [94]:
output

,college,addr,long,lat,State
0,Abilene Christian University,"Abilene Christian University, 1600, Teague Bou...",-99.707360,32.469973,Texas
1,Adelphi University,"Adelphi University, 1, South Avenue, Village o...",-73.651972,40.719764,New York
2,Adrian College,"Adrian College, 110, South Madison Street, Adr...",-84.060832,41.898495,Michigan
3,Agnes Scott College,"Agnes Scott College, Milton Candler Lane, Deca...",-84.294445,33.768885,Georgia
4,Alaska Pacific University,"Alaska Pacific University, 4101, University Dr...",-149.809844,61.188847,Alaska
...,...,...,...,...,...
770,Worcester Polytechnic Institute,"Worcester Polytechnic Institute, 100, Institut...",-71.808457,42.274315,Massachusetts
772,Xavier University,"Xavier University, Montgomery Road, United Dai...",-84.470835,39.151308,Ohio
773,Xavier University of Louisiana,"Xavier University of Louisiana, 1, Drexel Driv...",-90.109224,29.963890,Louisiana
774,Yale University,"Yale University, West Haven, South Central Con...",-72.989670,41.257131,Connecticut
775,York College of Pennsylvania,"York College of Pennsylvania, 441, Country Clu...",-76.726798,39.947447,Pennsylvania

In [97]:
import us

In [122]:
'Maine' in states

True

In [120]:
states = []

for i in us.states.STATES:
    states.append(i.name)

In [130]:
fix.to_csv('fix.csv')

In [138]:
def is_us_state(location):
    if location in states:
        return False
    else:
        return True

In [141]:
fix2 = output[output.State.apply(is_us_state)]

In [142]:
fix2.to_csv('fix2.csv')

In [145]:
output = output.drop('addr', axis = 1)

In [146]:
fix = pd.read_csv('fix.csv')

In [148]:
fix = fix[['college', 'long', 'lat', 'addr']]

In [149]:
output

                             college        long        lat          State
0       Abilene Christian University  -99.707360  32.469973          Texas
1                 Adelphi University  -73.651972  40.719764       New York
2                     Adrian College  -84.060832  41.898495       Michigan
3                Agnes Scott College  -84.294445  33.768885        Georgia
4          Alaska Pacific University -149.809844  61.188847         Alaska
..                               ...         ...        ...            ...
770  Worcester Polytechnic Institute  -71.808457  42.274315  Massachusetts
772                Xavier University  -84.470835  39.151308           Ohio
773   Xavier University of Louisiana  -90.109224  29.963890      Louisiana
774                  Yale University  -72.989670  41.257131    Connecticut
775     York College of Pennsylvania  -76.726798  39.947447   Pennsylvania

[678 rows x 4 columns]

In [155]:
fix.columns = output.columns
fix

,college,long,lat,State
0,Albertson College,-116.949748,43.619187,Idaho
1,Allentown Coll. of St. Francis de Sales,-75.478699,40.594806,Pennsylvania
2,Arizona State University Main campus,-111.932044,33.416633,Arizona
3,Auburn University-Main Campus,-85.484619,32.604721,Alabama
4,Brigham Young University at Provo,-111.649316,40.250759,Utah
...,...,...,...,...
93,Washington University,-90.306892,38.648789,Missouri
94,Western State College of Colorado,-107.319813,38.543415,Colorado
95,Westminster College of Salt Lake City,-111.849498,40.695168,Utah
96,Wheeling Jesuit College,-80.722534,40.067192,West Virginia
97,Worcester State College,-71.804054,42.267462,Massachusetts

In [153]:
fix2 = pd.read_csv('fix2.csv')
fix2 = fix2[['college', 'long', 'lat', 'State']]

In [154]:
fix2

               college       long        lat           State
0      Aquinas College -85.615939  42.980208        Michigan
1   Assumption College -71.785862  42.298643   Massachusetts
2     Augsburg College -93.246861  44.966618       Minnesota
3      Bentley College -71.220995  42.387965   Massachusetts
4     Bradford College -71.164952  42.756635   Massachusetts
..                 ...        ...        ...             ...
66    Ursuline College -81.505202  41.531470            Ohio
67     Viterbo College -91.243924  43.809963       Wisconsin
68  Webster University -90.365356  38.592864        Missouri
69      Wesley College -75.541011  39.155423        Delaware
70     Wingate College -80.442548  35.299737  North Carolina

[71 rows x 4 columns]

In [156]:
df2 = pd.concat([output, fix, fix2])

In [159]:
df2 = df2.sort_values(by='college').reset_index(drop = True)

In [160]:
df2.to_csv('college_locations.csv', index = False)